<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<style type="text/css">
			a{color:black;}
			body{width:700px;margin:0 auto;}
		</style>
　　</head>
　　<body>

　　　　{{ content }}

	<p><a href="http://weibo.com/u/1736799387" target="_blank">@张亢亢Andrew</a></p>
　　</body>
	<script type="text/javascript" src="http://js.tongji.linezing.com/3129892/tongji.js"></script><noscript><a><img src="http://img.tongji.linezing.com/3129892/tongji.gif"/></a></noscript>

　　</html>

